extends layout

block content
  div.container
    div.row
      for car in locals.cars
        div.col-xl-4.my-5
          h4 #{car.brand}
          h1 #{car.model}
          - var img = car.img
          img(src="/img/" + img class="img-fluid my-3")
          - var id = car.id
          h3.text-success #{car.price}
          a.btn.btn-success(href="/car/" + id) Learn More
